@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

body {
  font-family: "Lato", sans-serif;
}

/* Pokemon Site */

#pokemonSite {
  display: block;
  background: url("../img/pokemonSiteBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#pokemon {
  background: url("../img/mainpikachu.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  height: 500px;
  width: 500px;
}

#map {
  position: absolute;
  top: 85%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50px;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 250%;
  background: linear-gradient(to right, #a2db95, #24ccaa);
}

#cp {
  color: black;
  position: absolute;
  top: 15%;
  left: 23%;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 300%;
  font-weight: 700;
}

#powerUp {
  position: absolute;
  top: 50%;
  right: 25%;
  border-radius: 50px;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 250%;
  background: linear-gradient(to right, #a2db95, #24ccaa);
}

/* Map Site */

#mapSite {
  display: none;
  background: url("../img/mapSiteBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#firstPokemon {
  background: url("../img/ratata.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 81%;
  left: 23%;
  height: 100px;
  width: 100px;
}

#secondPokemon {
  background: url("../img/snorlax.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 52%;
  left: 53%;
  height: 100px;
  width: 100px;
}

#thirdPokemon {
  background: url("../img/dragonite.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 72%;
  left: 70%;
  height: 100px;
  width: 100px;
}

#bossPokemon {
  background: url("../img/mewtwo.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 32%;
  left: 93%;
  height: 100px;
  width: 100px;
}

#stardustChest {
  background: url("../img/stardust.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  top: 5%;
  left: 41%;
  height: 100px;
  width: 100px;
}

/* Battle Site */

#battleSite {
  display: none;
  background-image: url("../img/firstBattleSiteBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#myPokemon {
  display: block;
  background: url("../img/pikachu.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 15%;
  left: 22%;
  height: 300px;
  width: 300px;
}

#myPokemonDeath {
  display: none;
  background: url("../img/pikachuDeath.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 15%;
  left: 25%;
  height: 300px;
  width: 300px;
}

#firstEnemyPokemon {
  display: none;
  background: url("../img/ratata.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 41%;
  left: 56%;
  height: 300px;
  width: 300px;
}

#firstEnemyPokemonDeath {
  display: none;
  background: url("../img/ratataDeath.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 41%;
  left: 56%;
  height: 300px;
  width: 300px;
}

#secondEnemyPokemon {
  display: none;
  background: url("../img/snorlax.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 41%;
  left: 56%;
  height: 300px;
  width: 300px;
}

#secondEnemyPokemonDeath {
  display: none;
  background: url("../img/snorlaxDeath.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 41%;
  left: 56%;
  height: 300px;
  width: 300px;
}

#thirdEnemyPokemon {
  display: none;
  background: url("../img/dragonite.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 41%;
  left: 56%;
  height: 300px;
  width: 300px;
}

#thirdEnemyPokemonDeath {
  display: none;
  background: url("../img/dragoniteDeath.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 41%;
  left: 56%;
  height: 300px;
  width: 300px;
}

#bossEnemyPokemon {
  display: none;
  background: url("../img/mewtwo.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 35%;
  left: 56%;
  height: 300px;
  width: 300px;
}

#bossEnemyPokemonDeath {
  display: none;
  background: url("../img/mewtwoDeath.png") no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 35%;
  left: 56%;
  height: 300px;
  width: 300px;
}


#myHealth {
  position: absolute;
  top: 90%;
  left: 30%;
  font-size: 200%;
  color: white;
  font-weight: 700;
}

#enemyHealth {
  position: absolute;
  top: 68%;
  left: 63%;
  font-size: 200%;
  color: white;
  font-weight: 700;
}

#attackButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 250%;
  background: linear-gradient(to right, #a2db95, #24ccaa);
}

#battleInfo {
  position: absolute;
  font-size: 300%;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

#backFromBattle,
#backFromMap {
  position: absolute;
  top: 85%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50px;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 250%;
  background: linear-gradient(to right, #a2db95, #24ccaa);
}
