@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/battlebackground.png") no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

#pokemon {
  background: url("../img/pikachu.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%);
  height: 300px;
  width: 300px;
}

#pokemon2 {
  background: url("../img/mewtwo.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-75%, -50%);
  height: 300px;
  width: 300px;
}

#lives {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-25%, -70%);
}

#lives2 {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-75%, -70%);
}

#attack {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: 50%;
  padding: 10px;
  color: white;
  font-weight: 700;
  background: linear-gradient(to right, #B2FEAC, #6BEECE);
}

#info {
  position: absolute;
  font-size: 150%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
